<!-- css link -->
<link rel="stylesheet" type="text/css" href="../assets/css/header.css">



<header>
    <nav class="navbar navbar-inverse" >
        <div class="container-fluid p-3 mb-2 bg-primary">
            <h1 class="text-white" id="headder">CSV UPLODE</h1>
        </div>   
    </nav>
</header>
