<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- TITLE OF THE PAGE -->
    <title><%=title%></title>
    <!-- FONT AWESOME -->
    <!-- <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script> -->
    <!-- CSS -->

</head>

<body>
    <!-- HEADER -->
    <%- include('header') %>
    
    <!-- BODY -->
    <%- body %>

    <!-- FOOTER -->
    <%- include('footer') %>
   
    
</body>

</html>